input {
    position: absolute;
    margin-top: 18rem;
    left: 31%;
    background-color: transparent;
    height: 100px;
    width: 600px;
    border: 1px solid $color-1;
    border-radius: 30px;
    color: $color-4;
    font-family: $font-2;
    font-size: 20px;
    padding: 20px 40px;
    -webkit-appearance: none;
    box-shadow: 
            inset 15px 15px 20px $color-3,
            inset -15px -15px 20px $color-2;
    outline: none;
}

.addButton {
    position: relative;
    margin-top: 18rem;
    margin-left: 40rem;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 45%;
    border: 2px solid $color-1;
    color: #41a6d4;
    font-family: $font-2;
    font-size: 25px;
    padding: 20px;
    -webkit-appearance: none;
    box-shadow: 
            -15px -15px 20px $color-2,
            15px 15px 20px $color-3;
    outline: none;
    cursor: pointer;
}

.addButton:active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -1%;
    left: -1%;
    border-radius: 45%;
    border: 1px solid $color-1;
    box-shadow: 
            inset 15px 15px 20px $color-3,
            inset -15px -15px 20px $color-2;
}